* {
   box-sizing: border-box;
}

html {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.5;
   color: wheat;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-text-size-adjust: 100%;
}

body {
   background:
      radial-gradient(circle at top,
         rgba(241, 210, 70, 0.98),
         rgba(250, 176, 103, 0.87)),
      url('bg-pattern-dark.png');
   background-repeat: repeat;
   min-height: 110rem;
   background-size: 100%, 100%, 30%, 30%, 100%, 100%;
}

header {
   text-align: center;
}

header img {
   width: 8rem;
}

h1{
   font-family: cursive;
   font-size: 3rem;
   margin: 0 auto 3rem auto;
   color: black;
}
 
#game-container{
   max-width: 45rem;
   margin: 3rem auto;
   padding: 2 rem;
   border-radius: 6px;
   background: linear-gradient(#383624,#282617);
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
   position: relative;
} 
#players{
   list-style: none;
    padding: 0;
    margin: 3rem;
}
span{
   margin: 12px;
  
}
li{
   display: inline;
   margin: 0px 10px;
}

/* #playeer-id{
} */